<div class="cabecera">
  <div class="barra">
    <img
      (click)="navegar('/billdetails')"
      src="assets/img/icono-atras.svg"
      alt=""
      class="icono-atras"
    />
    <h1 class="titulo">Select people</h1>
  </div>
  <input
    class="buscador-contacto"
    type="text"
    placeholder="Search by name or number"
  />
</div>
<div class="contenedor-sugeridos">
  <p class="texto-seccion">Suggested people</p>
  <div class="lista">
    <img src="assets/img/ana.svg" alt="" class="imagen-contacto" />
    <img src="assets/img/ana.svg" alt="" class="imagen-contacto" />
    <img src="assets/img/ana.svg" alt="" class="imagen-contacto" />
    <img src="assets/img/ana.svg" alt="" class="imagen-contacto" />
    <img src="assets/img/ana.svg" alt="" class="imagen-contacto" />
  </div>
</div>
<div class="lista-contactos">
  <p class="texto-seccion">All contacs</p>
  <div class="contenedor-contactos">
    <div class="contacto">
      <img src="assets/img/ana.svg" alt="" class="imagen-contacto" />
      <div class="detalle-contacto">
        <h3 class="nombre">Aarav</h3>
        <p class="numero">+91 914662932</p>
      </div>
    </div>
    <div class="contacto">
      <img src="assets/img/ana.svg" alt="" class="imagen-contacto" />
      <div class="detalle-contacto">
        <h3 class="nombre">Aarav</h3>
        <p class="numero">+91 914662932</p>
      </div>
    </div>
    <div class="contacto">
      <img src="assets/img/ana.svg" alt="" class="imagen-contacto" />
      <div class="detalle-contacto">
        <h3 class="nombre">Aarav</h3>
        <p class="numero">+91 914662932</p>
      </div>
    </div>
    <div class="contacto">
      <img src="assets/img/ana.svg" alt="" class="imagen-contacto" />
      <div class="detalle-contacto">
        <h3 class="nombre">Aarav</h3>
        <p class="numero">+91 914662932</p>
      </div>
    </div>
    <div class="contacto">
      <img src="assets/img/ana.svg" alt="" class="imagen-contacto" />
      <div class="detalle-contacto">
        <h3 class="nombre">Aarav</h3>
        <p class="numero">+91 914662932</p>
      </div>
    </div>
    <div class="contacto">
      <img src="assets/img/ana.svg" alt="" class="imagen-contacto" />
      <div class="detalle-contacto">
        <h3 class="nombre">Aarav</h3>
        <p class="numero">+91 914662932</p>
      </div>
    </div>
    <div class="contacto">
      <img src="assets/img/ana.svg" alt="" class="imagen-contacto" />
      <div class="detalle-contacto">
        <h3 class="nombre">Aarav</h3>
        <p class="numero">+91 914662932</p>
      </div>
    </div>
    <div class="contacto">
      <img src="assets/img/ana.svg" alt="" class="imagen-contacto" />
      <div class="detalle-contacto">
        <h3 class="nombre">Aarav</h3>
        <p class="numero">+91 914662932</p>
      </div>
    </div>
    <div class="contacto">
      <img src="assets/img/ana.svg" alt="" class="imagen-contacto" />
      <div class="detalle-contacto">
        <h3 class="nombre">Aarav</h3>
        <p class="numero">+91 914662932</p>
      </div>
    </div>
    <div class="contacto">
      <img src="assets/img/ana.svg" alt="" class="imagen-contacto" />
      <div class="detalle-contacto">
        <h3 class="nombre">Aarav</h3>
        <p class="numero">+91 914662932</p>
      </div>
    </div>
  </div>
</div>
<div class="boton-contacto">
  <img class="icono-mas" src="assets/img/icono-mas-azul.svg" alt="" />
</div>
