<div
  class="contenedor-billdetails"
  *ngIf="facturaService.facturaAEditar && facturaService.pagadores"
>
  <div class="contenedor-cabecera">
    <div class="navegador">
      <svg
        (click)="navegar()"
        viewBox="0 0 23 18"
        xmlns="http://www.w3.org/2000/svg"
        class="icono-atras"
      >
        <path
          d="M0.356283 8.13998L8.14008 0.356182C8.61498 -0.118727 9.38519 -0.118727 9.8601 0.356182C10.3351 0.831188 10.3351 1.6012 9.8601 2.07621L4.15253 7.78377H20.9405C21.6122 7.78377 22.1567 8.32834 22.1567 8.99999C22.1567 9.67153 21.6122 10.2162 20.9405 10.2162H4.15253L9.85991 15.9238C10.3349 16.3988 10.3349 17.1688 9.85991 17.6438C9.6225 17.8811 9.31115 18 8.99989 18C8.68864 18 8.37738 17.8811 8.13988 17.6438L0.356283 9.86C-0.118723 9.38499 -0.118723 8.61498 0.356283 8.13998Z"
        />
      </svg>

      <h1 class="titulo" routerLink="/">Bill details</h1>
    </div>
    <div class="contenedor-detalle-cuenta">
      <div class="detalle-cuenta">
        <h3 class="subtitulo">Bill amount</h3>
        <h1 class="cuenta">
          $ {{ facturaService.facturaAEditar.total | number: ".2-2" }}
          <small *ngIf="tipSeleccionado === 'porcentaje'" class="propina"
            >+ Tip: {{ cantidadCuenta * 0.1 | number: ".2-2" }}</small
          >
          <small *ngIf="tipSeleccionado === 'dolares'" class="propina"
            >+ Tip: {{ 20 | number: ".2-2" }}</small
          >
          <small *ngIf="tipSeleccionado === 'manual'" class="propina"
            >+ Tip: {{ propinaManual | number: ".2-2" }}</small
          >
        </h1>
      </div>
      <img src="assets/img/icono.svg" alt="" class="icono" />
    </div>
  </div>
  <div class="contenido">
    <div class="sumar-gente">
      <p class="texto-seccion">Add people</p>
      <div class="lista">
        <div class="contenedor-contactos">
          <img
            [src]="contacto.avatarURL"
            alt=""
            class="imagen-contacto"
            *ngFor="let contacto of facturaService.pagadores"
          />
        </div>

        <div
          class="icono-mas"
          (click)="navegar('/contacts')"
          *ngIf="!estanVisualizandoFactura()"
        >
          <svg
            viewBox="0 0 17 17"
            xmlns="http://www.w3.org/2000/svg"
            class="imagen"
          >
            <path
              opacity="0.2"
              d="M16.28 7.16H9.12V0H7.16V7.16H0V9.08H7.16V16.24H9.12V9.08H16.28V7.16Z"
            />
          </svg>
        </div>
      </div>
    </div>

    <div class="suma-propina">
      <p class="texto-seccion">Add tip amount</p>
      <div class="botonera-propina">
        <button
          class="boton-propina"
          [ngClass]="{ seleccionado: tipSeleccionado === 'porcentaje' }"
          (click)="tipSeleccionado = 'porcentaje'"
          [disabled]="estanVisualizandoFactura()"
        >
          10%
        </button>
        <button
          class="boton-propina"
          [ngClass]="{ seleccionado: tipSeleccionado === 'dolares' }"
          (click)="tipSeleccionado = 'dolares'"
          [disabled]="estanVisualizandoFactura()"
        >
          $20
        </button>
        <input
          class="input-propina"
          type="text"
          placeholder="Enter manually"
          [ngClass]="{ seleccionado: tipSeleccionado === 'manual' }"
          (click)="tipSeleccionado = 'manual'"
          [(ngModel)]="propinaManual"
          [disabled]="estanVisualizandoFactura()"
        />
      </div>
    </div>
    <div class="dividir-cuenta">
      <p class="texto-seccion">Split</p>
      <div class="botonera-dividir">
        <button
          class="boton-dividir"
          [ngClass]="{
            seleccionado: estaDividaAPartesIguales(
              facturaService.facturaAEditar.tipoDeReparticion
            )
          }"
          (click)="
            seleccionarTipoDeReparticion(TipoDeReparticionModelo.Igualitaria)
          "
          [disabled]="estanVisualizandoFactura()"
        >
          Equally
        </button>
        <button
          class="boton-dividir consumption"
          [ngClass]="{
            seleccionado:
              !estaDividaAPartesIguales(
                facturaService.facturaAEditar.tipoDeReparticion
              ) && facturaService.facturaAEditar.tipoDeReparticion
          }"
          (click)="
            seleccionarTipoDeReparticion(TipoDeReparticionModelo.Especifica)
          "
          [disabled]="estanVisualizandoFactura()"
        >
          By consumption
        </button>
      </div>
    </div>
  </div>
  <div
    class="contenedor-boton"
    *ngIf="!facturaService.facturaAEditar.estaPagada"
  >
    <button
      class="boton-procede"
      (click)="mostratDetalleFinal()"
      *ngIf="!estanVisualizandoFactura()"
    >
      Create bill
    </button>
  </div>
</div>
