.contenedor-login {
  height: 100%;
  min-width: 50%;
  min-height: 50%;
  background-color: #0029ff;
  box-shadow: 4px 5px 17px 5px rgba(0, 0, 0, 0.49);
  .titulo {
  }
  .form-login {
    .bloque-usuario {
      .subtitulo-login {
      }
      .input-login {
      }
    }

    .bloque-password {
      .subtitulo-login {
      }
      .input-login {
      }
    }

    .boton-login {
    }
  }
}
