:host {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  .contenedor-billscanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    border-radius: 1.2rem;
    box-shadow: 0px 4px 4px 0px #4e0707;
    position: relative;
    .cabecera {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 12rem;
      padding: 0 2.4rem 2.1rem;
      .titulo {
        font-family: Poppins;
        font-size: 3rem;
        font-weight: 400;
        color: white;
      }
      .icono-cabecera {
        cursor: pointer;
      }
      .imagen {
        opacity: 0.5;
      }
    }
    .contenido {
      flex: 1;
      padding: 0 3.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 40rem;
      .imagen {
        width: 100%;
        max-width: 28.3rem;
        cursor: pointer;
        box-shadow: 0px 4px 4px 0px #4e0707;
        border-radius: 1.7rem;
      }
    }

    .herramientas {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 20.2rem;
      padding: 3rem 2.4rem 5.4rem;
      .texto-accion-scanner {
        font-family: Poppins;
        margin-bottom: 1.9rem;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.1rem;
        text-align: center;
        color: #ffffff;
      }

      .input-cuenta {
        text-align: left;
        border: none;
        outline: none;
        font-family: Poppins;
        font-size: 1.4rem;
        font-weight: 300;
        color: white;
        line-height: 1.2;
        width: 100%;
        height: 4.5rem;
        background: transparent;

        border-bottom: 0.1rem solid rgb(238, 233, 233);
        margin-bottom: 2rem;
        &::placeholder {
          color: white;
          text-align: center;
        }
      }

      .boton-herramientas {
        outline: none;
        cursor: pointer;
        font-family: Poppins;
        font-size: 1.6rem;
        font-weight: 500;
        color: black;
        margin-top: auto;
        margin-bottom: 6rem;
        padding: 1.5rem 4rem;
        border: none;
        background-color: white;
        border-radius: 3rem;
        box-shadow: 0px 4px 4px 0px #4e0707;
      }
      .boton-herramientas:hover {
        color: white;
        background-image: none;
        background-color: #ff00ff;
      }
    }
  }
}
