:host {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  height: 100%;
  .contenedor-perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.2rem;
    box-shadow: 0px 4px 4px 0px #4e0707;
    .cabecera {
      display: flex;
      align-items: center;
      width: 100%;
      color: white;
      background: -webkit-linear-gradient(top, #7579ff, #b224ef);
      height: 17rem;
      border-radius: 1.2rem;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0 3rem 1rem;
      .titulo {
        flex: 1;
        font-weight: 500;
        font-size: 2.6rem;
        line-height: 3.1rem;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
      }
      .icono-atras {
        cursor: pointer;
        max-height: 2.5rem;
        min-width: 2.5rem;
        margin-right: 1rem;
        fill: #f7f7f7;
      }
    }
    .contenido {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: none;
      padding: 1rem 3rem 1.4rem 3rem;
      background-color: #f7f7f7;
      width: 100%;
      min-height: 25rem;
      overflow-y: auto;
    }
  }
}
