/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**** Fuentes ********************************************************/
@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy/Gilroy-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
/**** Final Fuentes ***************************************************/

/**** Mensajes del toast **********************************************/
@import "~ngx-toastr/toastr";

.toast-container {
  font-size: 1.4rem;
}

/****  FIN Mensajes del toast *****************************************/
html,
body {
  height: 100%;
  width: 100%;
  font-family: Gilroy;
  font-size: 62.5%;
  background-image: -webkit-linear-gradient(top, #7579ff1a, #b224ef61),
    url("/assets/img/ciudad.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
